@import "_fonts.css";

@import "normalize.css/normalize";


$font-size: 18px;

$font-family:       'Roboto', Arial, sans-serif;
$font-family-light: 'RobotoLight', Arial, sans-serif;

$width: 900px;

$size-action-button: 56px;

@define-mixin noOverflow {
	overflow: hidden;

	white-space: nowrap;
}

@define-mixin placeholder $color: $color-bg1, $opacity: 1.0 {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		opacity: $opacity;
		color: $color;
	}
	&::-moz-placeholder {
		opacity: $opacity;
		color: $color;
	}
	&:-ms-input-placeholder {
	 color: $color;
	}
}

@define-mixin shadowInset {
	box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.3),
							inset 0 2px 5px 0 rgba(0,0,0,0.3);
}

@define-mixin shadowLow {
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3),
							0 2px 3px 0 rgba(0,0,0,0.5);
}

@define-mixin shadowMedium {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1),
							0 5px 10px 0 rgba(0,0,0,0.3);
}

@define-mixin shadowHight {
	box-shadow: 0 0px 10px 0 rgba(0,0,0,0.1),
							0 5px 10px 0 rgba(0,0,0,0.3),
							0 10px 20px 0 rgba(0,0,0,0.2);
}

/*
Google Material Design color pallet

Colors:
	Primary - LightBlue: 100, 500, 700
	Accent - Deep Orange: A400

	BG - Grey: 200
	Text (light) - White
	Text (dark) - Black
*/

$color-primary1:   #B3E5FC;
$color-primary2:   #03A9F4;
$color-primary3:   #0288D1;
$color-accent:     #FF3D00;

$color-bg1:        #EEEEEE;
$color-bg2:        #FFFFFF;

$color-text-light: #FFFFFF;
$color-text-dark:  #000000;

html, body {
	width: 100%;
	height: 100%;

	color: $color-text-dark;
	background: $color-bg1;

	font-family: $font-family;
	font-size: $font-size;
}

.header {
	height: 200px;
	padding: 60px 50px 0px;

	color: $color-text-light;
	background: $color-primary2;

	font-family: $font-family-light;

	.header--text {
		max-width: $width;
		margin: 0 auto;

		font-size: 3rem;
		font-weight: normal;

		@mixin noOverflow;
	}
}

.content {
	box-sizing: border-box;
	max-width: $width;
	min-height: 300px;
	margin: 0 auto 50px;
	padding: 10px 20px 30px 20px;

	background: $color-bg2;

	@mixin shadowMedium;

	@mixin noOverflow;

	.graph {
		margin-bottom: 50px;
	}

	.date-input {
		position: relative;

		margin: 20px 0;

		.date-input--input {
			@mixin placeholder;

			&:hover, &:focus, &:active {
				color: $color-text-light;
				background: $color-primary2;
				@mixin placeholder;
			}
		}

		.date-input--label {
			position: absolute;
			top: 0;
			left: 0;

			box-sizing: border-box;
			height: 100%;
			padding: 10px 0 0 10px;

			line-height: 1rem;
			line-height: 2rem;
		}
	}

	.date-input .date-input--input, .select-input {
		display: block;

		box-sizing: border-box;
		width: 300px;
		min-width: 220px;
		padding: 10px 20px 10px 70px;

		color: $color-text-dark;
		border: none;
		border-radius: 2px;
		background: $color-bg1;

		font-size: 1.25rem;
		line-height: 2rem;
	}
}

.floating-action-button {
	position: fixed;
	right: calc( $size-action-button / 2 );
	bottom: calc( $size-action-button / 2 );

	width: $size-action-button;
	height: $size-action-button;

	border: none;
	border-radius: calc( $size-action-button / 2 );
	outline: none;
	background: $color-accent url(../img/ic_replay_white_24px.svg) center no-repeat;

	@mixin shadowMedium;

	&:hover {
		@mixin shadowHight;
	}
}
